/* Home.css */



@font-face {
  font-family: 'neon';
  src: url('../../static/Amita/Amita-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fon2';
  src: url('../../static/andina/Andina\ Demo.otf') format('opentype');
}


/* General container styling */
.home-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #fff;
  }
  
  /* Header section styling */
  .home-header {
    background-color: #63666A;
    color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .home-header h1 {
    font-family: neon;
    font-weight: normal;
    /* font-size: 2.5rem; */
    margin: 0;
  }
  
  .home-header p {
    font-family: fon2;
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  /* Content section styling */
  .home-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  
  .home-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .home-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .home-card p {
    font-size: 1rem;
    color: #555;
  }
  
  .home-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  